.custom 
  display: flex
  background-color brand-primary
  padding 4rem 2rem
  &__section
    flex-basis 50%
    text-align left     
    color white
    h1 
      text-align left 
      font-weight 100
    p
      font-size 1.25rem
