.custom 
  background-color brand-primary
  padding 4rem 2rem
  .container
    align-items center
    height 300px
    display: flex
  &__section
    flex-basis 50%
    text-align left     
    color white
    h2 
      text-align left 
      font-weight 100
      font-family OpenSans-Light
    p
      font-size 1.25rem
      line-height: 1.8rem
      margin 2rem 0
    &--image
      width 100%
      max-width 460px