.navbar
  background #f1f1f1
  width 100%
.topnav-area 
  display flex
  flex-direction row
  justify-content space-between
  position relative
  padding 4px 15px
  #langDropdown
    display flex
    flex-direction column
    position absolute
    top 60px
    right: -32px;
    background: #f1f1f1;
    z-index: 6;
    width: 140px;
  .logo-area
    img 
      max-width: 200px;
      padding: 4px;
  .menu-close
    position absolute
    top 20px
    right 20px
    width 42px
    height 36px
    padding-left: 2px;
    border 1px solid #ddd
    display none
    svg
      width 36px
      height 36px
      fill #888      
.topnav
  display flex
  margin-left auto
  align-items center
  position: relative
  #langDropdown
    span 
      width 17px !important
      margin -5px 3px 0 0
    a
      padding 9px
      &:last-of-type
        margin-left: -5px 
  .languageSelector
    position relative
    span 
      width 17px !important
      margin -5px 3px 0 0
    svg
      position absolute
      right -2px
      top 18px
      width 10px
  a
    float left
    display block
    color black
    text-align center
    padding 14px 16px
    text-decoration none
    font-size 17px
    &:hover
      text-decoration underline
    &.icon
      display none
      width 30px
      height 30px
      background-color #ddd 
      margin-right 0
      svg 
        width 40px
        height 40px
        padding 2px


.active
  text-decoration underline

@media mobile
  .topnav-area 
    flex-direction column
    #langDropdown
      position relative
      top 0
      right 0
    .menu-close
      display block  
    .topnav
      display none
      width 100%
      text-align center
      flex-direction column
      transition: .5s ease-in-out;
      &.icon
        float right
        display block
      a
        padding 8px 16px

@media mobile
  .topnav
    &.responsive
      position relative
      display flex
      .icon
        position absolute
        right 0
        top 0  