// Import all partials
@require '_variables.styl'
@require '_selector.styl'
@require './_*.styl'
    
.wrapper
  max-width 1280px
  margin 0 auto
  position relative
  width 100%
  padding 2rem
  background white

svg
  stroke black
  fill black
  display: block;
  position: absolute;
